@import 'Src/styles/variables.scss';
@import 'Src/styles/responsive.scss';

.button {
  width: 100%;
  min-height: 68px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $orange;
  border-radius: 40px;
  font-family: 'Nekst-Black';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $white;
  cursor: pointer;

  transition: background 0.2s ease-in-out;

  &:hover {
    background: $black;
  }

  &:active {
    background: $grey;
  }

  &:disabled {
    opacity: 0.4;

    &:hover {
      background: $orange;
    }

    &:active {
      background: $orange;
    }
  }

  @include tablets {
    font-size: 22px;
    min-height: 60px;
  }
}
